html,body, #root {
	width: 100%;
	height:100%;
}
.App {
	width: 100%;
	height:100%;

	text-align: center;

	/* flex */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.App-main {
	width: 100%;

	flex-grow: 1;

	/* flex */
	display: flex;
}

.App-header {
	width: 200px;

	background-color: #161a22;
	color: white;
}

.App-header h1 {
	font-size: 3.0rem;
	margin-bottom: 0;
}
.App-header h3 {
	margin-top: 0;
	font-size: 1.2rem;
}

.App-footer {
	width: 100%;
	height: 100px;

	background-color: #282c34;

}
